

table {
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 0.7rem;
  letter-spacing: 1px;
  width: 90dvw;
  height: fit-content;
  border: .5px solid rgb(188, 188, 188);
}

th {
  background-color: #F9FAFB;
}

th,
td {
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
  
}
td {
 background-color: #FFFF;
 
}

tr{

  border: .5px solid rgb(188, 188, 188);
}

